# Configurações de IDE
.settings/
.project
.pydevproject

# Configurações do VS Code
.vscode/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente Virtual
venv/
.venv/

# Arquivos gerados pelo PyInstaller
build/
dist/
*.spec

# Instaladores do Python que baixamos
*.exe

# Arquivos temporários do Python
__pycache__/
*.pyc

# Configurações locais de IDE
.settings/
.project
.pydevproject
